<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>极简版抖音后端API测试</title>
</head>
<body>
    <h1>极简版抖音后端API测试</h1>
    <a href="/douyin/feed/" target="top" style="display:block">GET /douyin/feed/</a>
    <h3>以下接口请使用APP测试</h3>
    <a href="/douyin/user/" target="top" style="display:block">GET /douyin/user/</a>
    <a href="/douyin/user/login/" target="top" style="display:block">POST /douyin/user/login/</a>
    <a href="/douyin/user/register/" target="top" style="display:block">POST /douyin/user/register/</a>
    <a href="/douyin/publish/action/" target="top" style="display:block">POST /douyin/publish/action/</a>
    <a href="/douyin/publish/list/" target="top" style="display:block">GET /douyin/publish/list/</a>
    <a href="/douyin/favorite/action/" target="top" style="display:block">POST /douyin/favorite/action/</a>
    <a href="/douyin/favorite/list/" target="top" style="display:block">GET /douyin/favorite/list/</a>
    <a href="/douyin/comment/action/" target="top" style="display:block">POST /comment/action/</a>
    <a href="/douyin/comment/list/" target="top" style="display:block">GET /comment/list/</a>
    <a href="/relation/action/" target="top">POST /relation/action/</a>
    <a href="/relation/follow/list/" target="top" style="display:block">GET /relation/follow/list/</a>
    <a href="/relation/follower/list/" target="top" style="display:block">GET /relation/follower/list/</a>
</body>
</html>